<div class="container max-w-screen-sm m-0 m-auto" data-controller="home">
  <button data-action="click->home#canvasUndo">戻す</button>
  <canvas class="bg-white" data-home-target="canvas"></canvas>
  <p class="pt-6 space-y-4">↓ボタン表示されるはず</p>
  <button data-action="click->home#sendTalk">トークに送信aaa</button>
  <p>↑liff.initが成功してるとボタンが表示される↑</p>
</div>
