<div class="container max-w-screen-sm m-0 m-auto text-center" data-controller="home">
  <button data-action="click->home#canvasUndo" class="base-button bg-indigo-500 text-white">ひとつ戻す</button>
  <canvas class="bg-white" data-home-target="canvas"></canvas>
  <button data-action="click->home#sendTalk" class="base-button bg-green-500 text-white">絵をトークに送信</button>
</div>
